<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articles' %>
| 
<a href="/articles/new">New Article</a>


<hr />

request.protocol: <%= request.protocol %>
<br />
request.headers["X-Forwarded-Proto"]: <%= request.headers["X-Forwarded-Proto"] %>
<br />
request.headers["X-Forwarded-Protocol"]: <%= request.headers["X-Forwarded-Protocol"] %>
<br />
request.headers["X-Forwarded-Ssl"]: <%= request.headers["X-Forwarded-Ssl"] %>
<br />
request.headers["X-Url-Scheme"]: <%= request.headers["X-Url-Scheme"] %>
